# ---------------------------------------------------------------------------
# Seminar Template
# ---------------------------------------------------------------------------

# CLion

/cmake-build-*
/.idea

# Manual Build
/build
/release
/debug
/coverage