# ---------------------------------------------------------------------------
# Seminar Template
# ---------------------------------------------------------------------------

# CLion

/cmake-build-*
/.idea

# Manual Build
/execute
/release
/debug
/coverage